/* General */

html, body {
    margin: 0;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template: 1fr 5fr / 1.5fr 5fr;
}

li {
    list-style-type: none;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon {
    width: 1.25em;
    height: 1.25em;
}

/* sidebar */

.sidebar {
    background: black;
    grid-row: 1 / 5;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.items.sub-container {
    margin-left: 20px;
    background: black;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.sidebar h1, .sidebar p {
    color: white;
}

.items.one {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.items.one .icon {
    width: 3em;
    height: 3em;
}

.items.two ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.items.two div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.items.three ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.items.three div {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* header */

.header {
    background: white;
    grid-column: 2 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header > div {
    display: flex;
    justify-content: space-between;
}

.header > div > div {
    display: flex;
    align-items: center;
}

.header .icon {
    width: 1.5em;
    height: 1.5em;
}

#search, #profile, #greeting, #buttons {
    display: flex;
    align-items: center;
}

#search {
    gap: 15px;
    margin-left: 40px;
}

#search-bar {
    background: lightgray;
    width: 700px;
    height: 30px;
    border-radius: 30px;
}

#profile {
    gap: 30px;
    margin-right: 60px;
}

#greeting {
    gap: 15px;
    margin-left: 40px;
}

#greeting p:last-child {
    font-size: 1.5em;
    padding-top: 2px;
}

#greeting .avatar {
    width: 60px;
    height: 60px;
}

#buttons {
    gap: 10px;
    margin-right: 60px;
}

#buttons button {
    background: black;
    color: white;
    border: none;
    width: 80px;
    height: 35px;
    border-radius: 30px;
}

/* main content */

.main-content {
    background: lightgray;
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

#projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

#projects .sub-container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 20px;
}

.project {
    height: 200px;
    background: white;
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: red solid 6px;
    box-shadow: 5px 5px 10px -7px;
}

.project-icons {
    align-self: end;
    display: flex;
    gap: 25px;
}

#projects .sub-container, #trending .sub-container, #announcements .sub-container {
    margin-top: 10px;
}

#announcements .sub-container, #trending .sub-container {
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px -7px;
}

#announcements .sub-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#trending .sub-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px 0 15px 20px;
    gap: 20px;
}

.trend {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user {
    font-size: 1em;
}